<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Http</h1>
                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" type="text" v-model="user.username">
                </div>
                <div class="form-group">
                    <label>Mail</label>
                    <input class="form-control" type="text" v-model="user.email">
                </div>
                <button class="btn btn-primary" @click="submit">Submit</button>
                <hr>
                <input class="form-control" type="text" v-model="node">
                <br><br>
                <button class="btn btn-primary" @click="fetchData">Get Data</button>
                <br><br>
                <ul class="list-group">
                    <li class="list-group-item" v-for="u in users">{{ u.username }} - {{ u.email }}</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import { customActions } from './mixin/customActions';
    export default {
        mixins: [customActions],
        data() {
            return {
                user: {
                    username: '',
                    email: ''
                },
                users: [],
                resource: {},
                node: 'alternative'
            };
        },
        methods: {
            submit() {
//                this.$http.post('data.json', this.user)
//                        .then(response => {
//                            console.log(response);
//                        }, error => {
//                            console.log(error);
//                        });
//                this.resource.save({}, this.user);


//              POST url/1: 2 params, url and data to post
                this.resource.saveData(this.user);
            },
// docs on default actions for mettods (post, get , put, etc) using resources https://github.com/pagekit/vue-resource/blob/HEAD/docs/resource.md
            fetchData() {
//                this.$http.get('data.json')
//                        .then(response => {
//                            return response.json();
//                        })
//                        .then(data => {
//                            const resultArray = [];
//                            for (let key in data) {
//                                resultArray.push(data[key]);
//                            }
//                            this.users = resultArray;
//                        });

//                // GET someItem/1,  1 params id to get appended in the url 
                this.resource.getData({node: this.node})
                        .then(response => {
                            return response.json();
                        })
                        .then(data => {
                            const resultArray = [];
                            for (let key in data) {
                                resultArray.push(data[key]);
                            }
                            this.users = resultArray;
                        });
            }
        },
        created() {
            console.log('mixin called  ', this.actionsPayload())
            this.resource = this.$resource('{node}.json', {}, this.actionsPayload());
        }
    } 
</script>

<style>
</style>
